@inject Business.Service.Infrastructure.ILexiconService lexiconHelper;
@inject Business.Service.Infrastructure.IPageService pageService;

@{
    ViewBag.Title = lexiconHelper.GetTextValue("_about_us_page_title", 4);
    ViewBag.AboutUsSelect = "active";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@{
    var page = pageService.GetPageByCode(4).Data as DataModel.BaseEntities.Page;
}

<section class="about-us">
    <div class="content">
        <div class="container">
            <div class="row">
                <div class="col-md-6">
                    <div class="about-blk-content">
                        @Html.Raw(page.Content)
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="about-blk-image">
                        <img src="@lexiconHelper.GetTextValue("_about_us_page_image", 4)" class="img-fluid" alt="">
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="call-us">
    <div class="container">
        <div class="row">
            <div class="col-6">
                <span>@lexiconHelper.GetTextValue("_free_consultation_title", 4)</span>
                <h2>@lexiconHelper.GetTextValue("_free_consultation_title_ex", 4)</h2>
                <p>@lexiconHelper.GetTextValue("_free_consultation_description", 4)</p>
            </div>
            <div class="col-6 call-us-btn">
                <a href="@lexiconHelper.GetTextValue("_free_consultation_button_url", 4)" class="btn btn-call-us">@lexiconHelper.GetTextValue("_free_consultation_button_text", 4)</a>
            </div>
        </div>
    </div>
</section>

<section class="how-work">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="heading howitworks">
                    <h2>@lexiconHelper.GetTextValue("_how_it_works", 3)</h2>
                    <span>@lexiconHelper.GetTextValue("_how_it_works_description", 3)</span>
                </div>
                <div class="howworksec">
                    <div class="row">
                        <div class="col-lg-4">
                            <div class="howwork">
                                <div class="iconround">
                                    <div class="steps">01</div>
                                    <img src="~/img/icon-1.png" alt="">
                                </div>
                                <h3>@lexiconHelper.GetTextValue("_how_it_works_section_1", 3)</h3>
                                <p>@lexiconHelper.GetTextValue("_how_it_works_section_1_description", 3)</p>
                            </div>
                        </div>
                        <div class="col-lg-4">
                            <div class="howwork">
                                <div class="iconround">
                                    <div class="steps">02</div>
                                    <img src="~/img/icon-2.png" alt="">
                                </div>
                                <h3>@lexiconHelper.GetTextValue("_how_it_works_section_2", 3)</h3>
                                <p>@lexiconHelper.GetTextValue("_how_it_works_section_2_description", 3)</p>
                            </div>
                        </div>
                        <div class="col-lg-4">
                            <div class="howwork">
                                <div class="iconround">
                                    <div class="steps">03</div>
                                    <img src="~/img/icon-3.png" alt="">
                                </div>
                                <h3>@lexiconHelper.GetTextValue("_how_it_works_section_3", 3)</h3>
                                <p>@lexiconHelper.GetTextValue("_how_it_works_section_3_description", 3)</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>