@inject Business.Service.Infrastructure.ILexiconService lexiconHelper;

@model ViewModel.Views.CommonResult

@{
    ViewBag.Title = lexiconHelper.GetTextValue("_category_service_list", 11);
    ViewBag.CategoriesSelect = "active";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@{
    var services = Model.Data as List<ViewModel.Views.Service.ServiceListModel>;
}

<div class="content">
    <div class="container-fluid">

        <div class="row align-items-center mb-4">
            <div class="col-md-6 col">
                <h4><span>@Model.DataCount</span> @lexiconHelper.GetTextValue("_service_count_text", 11)</h4>
            </div>
            <div class="col-md-6 col-auto">
                <div class="view-icons">
                    <a href="javascript:void(0);" class="grid-view active"><i class="fas fa-th-large"></i></a>
                </div>
            </div>
        </div>
        <div>
            <div class="row">

                @foreach (var item in services)
                {
                    <div class="col-lg-3 col-md-6">
                        <div class="service-widget">
                            <div class="service-img">
                                <a href="service-details.html">
                                    <img class="img-fluid serv-img" alt="Service Image" src="assets/img/services/service-01.jpg">
                                </a>
                                <div class="item-info">
                                    <div class="service-user">
                                        <a href="#">
                                            <img src="assets/img/customer/user-01.jpg" alt="">
                                        </a>
                                        <span class="service-price">$25</span>
                                    </div>
                                    <div class="cate-list">
                                        <a class="bg-yellow" href="service-details.html">@item.ServiceCategory</a>
                                    </div>
                                </div>
                            </div>
                            <div class="service-content">
                                <h3 class="title">
                                    <a href="service-details.html">@item.Name</a>
                                </h3>
                                <div class="rating">
                                    <i class="fas fa-star filled"></i>
                                    <i class="fas fa-star filled"></i>
                                    <i class="fas fa-star filled"></i>
                                    <i class="fas fa-star filled"></i>
                                    <i class="fas fa-star"></i>
                                    <span class="d-inline-block average-rating">(4.3)</span>
                                </div>
                                <div class="user-info">
                                    <div class="row">
                                        <span class="col-auto ser-contact">
                                            <i class="fas fa-phone mr-1"></i>
                                            <span>@item.Phone</span>
                                        </span>
                                        <span class="col ser-location">
                                            <span>@item.City, @item.Country</span> <i class="fas fa-map-marker-alt ml-1"></i>
                                        </span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                }

            </div>
        </div>

    </div>
</div>

