@inject Business.Service.Infrastructure.ILexiconService lexiconHelper;

@model ViewModel.Views.CommonResult
@{
    var requests = Model.Data as List<ViewModel.Views.Request.RequestListModel>;
}

<h4 class="widget-title">@lexiconHelper.GetTextValue("_my_bookings", 21)  - <a class="btn btn-primary submit-btn" href="javascript:void(0);" data-toggle="modal" data-target="#requestModal"   >@lexiconHelper.GetTextValue("_add_new_booking", 21) </a></h4>

<ul class="nav nav-tabs menu-tabs">
    <li class="nav-item active">
        <a class="nav-link" href="/my-bookings">@lexiconHelper.GetTextValue("_active_bookings", 21) </a>
    </li>
</ul>
<div class="row">
    @foreach (var request in requests)
    {
    <div class="col-lg-12 col-md-12">

        <div class="bookings">
            <div class="booking-list">
                <div class="booking-widget">
                    <a href="service-details.html" class="booking-img">
                        @{
                            string fileTransform = request.GetFileNameFromUrl();
                            string url = "https://res.cloudinary.com/servicebuilder/image/upload/w_640,h_426/" + fileTransform;
                        }
                        <img class="img-fluid serv-img" alt="Service Image" src="@url">
                    </a>
                    <div class="booking-det-info">
                        <h3>
                            <a class="bg-yellow" href="/booking-detail?booking_id=@request.ID">@request.CategoryName</a>
                        </h3>
                        <ul class="booking-details">
                            <li>
                                <span>@lexiconHelper.GetTextValue("_booking_date", 99)</span> @request.StartDate
                                <span class="badge badge-pill badge-prof bg-primary">@lexiconHelper.GetTextValue("_in_live", 99)</span>
                            </li>
                            <li><span>@lexiconHelper.GetTextValue("_lcation", 99)</span> @request.CityName, @request.CountryName</li>
                        </ul>
                    </div>
                </div>
                <div class="booking-action">
                    <a href="#" class="btn btn-sm bg-info-light"><i class="far fa-eye"></i> @lexiconHelper.GetTextValue("_service_bids", 99)</a>
                    <a href="javascript:;" class="btn btn-sm bg-danger-light"><i class="fas fa-times"></i> Cancel the Service</a>
                </div>
            </div>
        </div>

        <div class="service-widget">
            <div class="service-img">
                <div class="item-info">
                    <div class="cate-list">
                        <a class="bg-yellow" href="/booking-detail?booking_id=@request.ID">@request.CategoryName</a>
                    </div>
                </div>
            </div>
            <div class="service-content">
                <h3 class="title">
                    <a href="/booking-detail?booking_id=@request.ID">@request.CategoryName</a>
                </h3>
                <div class="user-info">
                    <div class="service-action">
                        <div class="row">
                            <div class="col">
                                <a href="/booking-detail?booking_id=@request.ID" class="text-success"><i class="far fa-list"></i> @lexiconHelper.GetTextValue("_detail", 99) </a>
                            </div>
                            <div class="col text-right">
                                <a href="javascript:void(0);" onclick="removeConfirmedBookingModal(@request.ID)" class="text-danger"><i class="far fa-trash-alt"></i> @lexiconHelper.GetTextValue("_remove", 99)</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    }
</div>



<div class="modal fade" id="deleteNotConfirmModal" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <input type="hidden" id="bookingId" name="bookingId" value="" />
                <h5 class="modal-title" id="acc_title">@lexiconHelper.GetTextValue("_remove_booking_title", 21)</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <p>@lexiconHelper.GetTextValue("_remove_booking_description", 21)</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-danger si_accept_cancel" data-dismiss="modal" onclick="removeConfirmedBooking()">@lexiconHelper.GetTextValue("_accept", 99)</button>
            </div>
        </div>
    </div>
</div>﻿


<script>

    function removeConfirmedBookingModal(id) {
        $('#bookingId').val(id);
        $('#deleteNotConfirmModal').modal();
    }

    function removeConfirmedBooking() {
        var id = $('#bookingId').val();

        $.ajax({
            type: "GET",
            url: "/booking/RemoveMyBooking?booking_id=" + id,
            processData: false,
            contentType: false,
            success: function (e) {
                if (e.isSuccess == true) {
                    toastrSuccess(e.message)
                    setTimeout(function () {
                        location.href = "my-bookings";
                    }, 2000)
                } else {
                    toastrDanger(e.message);
                }
            },
            error: function (jqXHR, exception) {
                var msg = '';
                if (jqXHR.status === 0) {
                    msg = 'Not connect.\n Verify Network.';
                } else if (jqXHR.status == 404) {
                    msg = 'Requested page not found. [404]';
                } else if (jqXHR.status == 500) {
                    msg = 'Internal Server Error [500].';
                } else if (exception === 'parsererror') {
                    msg = 'Requested JSON parse failed.';
                } else if (exception === 'timeout') {
                    msg = 'Time out error.';
                } else if (exception === 'abort') {
                    msg = 'Ajax request aborted.';
                } else {
                    msg = 'Uncaught Error.\n' + jqXHR.responseText;
                }
                toastrDanger(msg);
            }
        });




    }


</script>

