@inject Business.Service.Infrastructure.ILexiconService lexiconHelper;
@inject Business.Service.Infrastructure.IContentService contentHelper;

@model ViewModel.Views.Request.RequestDetailModel

@{
    ViewBag.Title = lexiconHelper.GetTextValue("_booking_detail_page_title", 21);
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="content">
    <div class="container">
        <div class="row justify-content-center ">
            <div class="col-lg-12">
                <div class="section-header text-center">
                    <h2>
                        @lexiconHelper.GetTextValue("_booking_detail_page_name", 20)
                    </h2>
                </div>
            </div>
            <div class="col-md-4 card provider-widget clearfix align-items-center">
                <div class="service-fields mb-3 ">
                    <h3 class="heading-2"> @lexiconHelper.GetTextValue("_booking_information", 21)</h3>
                    <div class="row">
                        <div class="col-lg-12">
                            <div class="form-group">
                                <strong class="">@lexiconHelper.GetTextValue("_service_category", 99) :</strong>
                                @Model.CategoryName
                            </div>
                        </div>
                        <div class="col-lg-12">
                            <div class="form-group">
                                <strong> @lexiconHelper.GetTextValue("_country", 99) :</strong>
                                @Model.CountryName
                            </div>
                        </div>
                        <div class="col-lg-12">
                            <div class="form-group">
                                <strong> @lexiconHelper.GetTextValue("_city", 99) :</strong>
                                @Model.CityName
                            </div>
                        </div>

                        <div class="col-lg-12">
                            <div class="form-group">
                                <strong> @lexiconHelper.GetTextValue("_description", 99) :</strong>
                                @Model.Description
                            </div>
                        </div>

                        <div class="col-lg-12">
                            <div class="form-group">
                                <strong> @lexiconHelper.GetTextValue("_property_values", 99) : </strong>
                                <br>
                                @if (Model.Properties != null)
                                {
                                    foreach (var item in Model.Properties)
                                    {
                                        <label>@item.Name</label>
                                        <span>@item.Value</span>
                                        <br>
                                    }
                                }
                            </div>
                        </div>

                    </div>
                </div>
            </div>

            <div class="col-md-8 align-items-center">

                @if (Model.Bids != null)
                {
                    foreach (var item in Model.Bids)
                    {
                        <div class="bookings">
                            <div class="booking-list">
                                <div class="booking-widget">
                                    <a href="/booking-view-detail?bid_id=@item.ID" class="booking-img">
                                        @{
                                            string fileTransform = item.GetFileNameFromUrl();
                                            string url = "https://res.cloudinary.com/servicebuilder/image/upload/w_300,h_300/" + fileTransform;
                                        }
                                        <img class="img-fluid serv-img" alt="Service Image" src="@url">
                                    </a>
                                    <div class="booking-det-info">
                                        <h3>
                                            <a class="" href="/booking-view-detail?bid_id=@item.ID">@item.ServiceName</a>
                                        </h3>
                                        <ul class="booking-details">
                                            <li><span>@lexiconHelper.GetTextValue("_bid_user", 99) :</span> @item.BidUserName</li>
                                            <li>
                                                <span>@lexiconHelper.GetTextValue("_give_bid_date", 99) :</span>
                                                @item.CreateDate.ToString()
                                            </li>
                                            <li><span>@lexiconHelper.GetTextValue("_give_bid_cost", 99) :</span> @item.ServiceCost</li>
                                        </ul>
                                    </div>
                                </div>
                                <div class="booking-action">
                                    <a href="/booking-view-detail?bid_id=@item.ID" class="btn btn-sm bg-info-light"><i class="far fa-eye"></i> @lexiconHelper.GetTextValue("_bid_user_info", 99)</a>
                                </div>
                            </div>
                        </div>
                    }
                }

            </div>
            <input type="hidden" id="ID" name="ID" value="@Model.ID" />
            <input type="hidden" id="UserID" name="UserID" value="@Model.UserID" />


        </div>
    </div>
</div>



















