@inject Business.Service.Infrastructure.ILexiconService lexiconHelper;

@{
    ViewBag.Title = lexiconHelper.GetTextValue("_change_password_page_title", 15);
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<div class="content">
    <div class="container">
        <div class="row">
            @await Html.PartialAsync("_GetUserMenu", new ViewDataDictionary(ViewData)
                                {
                                    { @"menu", @"password" }
                                })
            <div class="col-xl-9 col-md-8">
                <div class="tab-content pt-0">
                    <div class="tab-pane show active" id="user_profile_settings">
                        <div class="widget">
                            <h4 class="widget-title">@lexiconHelper.GetTextValue("_password_settings", 15)</h4>
                            <form id="changePassswordForm" method="post">
                                <div class="row">
                                    <div class="form-group col-xl-12">
                                        <div class="media align-items-center mb-3">
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="form-group col-xl-12">
                                        <label class="mr-sm-2">@lexiconHelper.GetTextValue("_current_password", 99)</label>
                                        <input class="form-control" type="password" id="CurrentPassword" name="CurrentPassword" value="" />
                                    </div>
                                    <div class="form-group col-xl-12">
                                        <label class="mr-sm-2">@lexiconHelper.GetTextValue("_new_password", 99)</label>
                                        <input class="form-control" type="password" id="Password" name="Password" />
                                    </div>
                                    <div class="form-group col-xl-12">
                                        <label class="mr-sm-2">@lexiconHelper.GetTextValue("_new_password_again", 99)</label>
                                        <input class="form-control" type="password" id="PasswordAgain" name="PasswordAgain"  />
                                    </div>
                                    <div class="form-group col-xl-12">
                                        <button name="form_submit" id="form_submit" class="btn btn-primary pl-5 pr-5" type="submit">@lexiconHelper.GetTextValue("_save", 99)</button>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


@section Scripts{

    <script>


        $("#changePassswordForm").validate({
                rules: {
                    CurrentPassword: {
                        required: true
                    },
                    Password: {
                        required: true
                    },
                    PasswordAgain: {
                        required: true
                }
                },
               messages: {
                   CurrentPassword: "@lexiconHelper.GetTextValue("_current_password_required",99)",
                   Password: "@lexiconHelper.GetTextValue("_password_required",99)",
                   PasswordAgain: "@lexiconHelper.GetTextValue("_password_agaib_required",99)"
                },
               submitHandler: function () {


                   var form = $('#changePassswordForm')[0];
                   var data = new FormData(form);

                       $.ajax({
                           type: "POST",
                           url: "/account/ChangePassword",
                           data: $('#changePassswordForm').serialize(),
                            success: function (e) {
                                  if (e.isSuccess == true) {
                                      location.href = "change-password";
                                } else {

                                }
                            },
                            error: function (jqXHR, exception) {
                                var msg = '';
                                if (jqXHR.status === 0) {
                                    msg = 'Not connect.\n Verify Network.';
                                } else if (jqXHR.status == 404) {
                                    msg = 'Requested page not found. [404]';
                                } else if (jqXHR.status == 500) {
                                    msg = 'Internal Server Error [500].';
                                } else if (exception === 'parsererror') {
                                    msg = 'Requested JSON parse failed.';
                                } else if (exception === 'timeout') {
                                    msg = 'Time out error.';
                                } else if (exception === 'abort') {
                                    msg = 'Ajax request aborted.';
                                } else {
                                    msg = 'Uncaught Error.\n' + jqXHR.responseText;
                                }
                            }
                        });
            }

            });

    </script>

}








