@inject Business.Service.Infrastructure.ILexiconService lexiconHelper;

@model ViewModel.Views.CommonResult
@{
    var services = Model.Data as List<ViewModel.Views.Service.ServiceListModel>;
}

<h4 class="widget-title">@lexiconHelper.GetTextValue("_my_services", 20)  - <a class="btn btn-primary submit-btn" target="_blank" href="/service-detail">@lexiconHelper.GetTextValue("_add_new_service", 20) </a></h4>
<ul class="nav nav-tabs menu-tabs">
    <li class="nav-item active">
        <a class="nav-link" href="my-services.html">@lexiconHelper.GetTextValue("_active_services", 20) </a>
    </li>
</ul>
<div class="row">

    @foreach (var service in services)
    {
        <div class="col-lg-4 col-md-6">
            <div class="service-widget">
                <div class="service-img">
                    <a href="service-details.html">
                        @{
                            string fileTransform = service.GetFileNameFromUrl();
                            string url = "https://res.cloudinary.com/servicebuilder/image/upload/w_640,h_426/" + fileTransform;
                        }

                        <img class="img-fluid serv-img" alt="Service Image" src="@url">
                    </a>
                    <div class="item-info">
                        <div class="cate-list">
                            <a class="bg-yellow" href="/service-detail?service_id=@service.ID">@service.ServiceCategory</a>
                        </div>
                    </div>
                </div>
                <div class="service-content">
                    <h3 class="title text-truncate">
                        <a href="/service-detail?service_id=@service.ID">@service.Name</a>
                    </h3>
                    <div class="user-info">
                        <div class="service-action">
                            <div class="row">
                                <div class="col">
                                    <a href="/service-detail?service_id=@service.ID" class="text-success"><i class="far fa-edit"></i> @lexiconHelper.GetTextValue("_edit", 99) </a>
                                </div>
                                <div class="col text-right">
                                    <a href="javascript:void(0);" onclick="removeConfirmModal(@service.ID)" class="text-danger"><i class="far fa-trash-alt"></i> @lexiconHelper.GetTextValue("_remove", 99)</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    }



    @*<div class="pagination">
            <ul>
                <li class="active">
                    <a href="javascript:void(0);">1</a>
                </li>
                <li>
                    <a href="javascript:void(0);">2</a>
                </li>
                <li>
                    <a href="javascript:void(0);">3</a>
                </li>
                <li>
                    <a href="javascript:void(0);">4</a>
                </li>
                <li class="arrow">
                    <a href="javascript:void(0);"><i class="fas fa-angle-right"></i></a>
                </li>
            </ul>
        </div>*@
</div>



<div class="modal fade" id="deleteNotConfirmModal" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <input type="hidden" id="serviceId" name="serviceId" value="" />
                <h5 class="modal-title" id="acc_title">@lexiconHelper.GetTextValue("_remove_service_title", 20)</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <p>@lexiconHelper.GetTextValue("_remove_service_description", 20)</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-danger si_accept_cancel" data-dismiss="modal" onclick="removeConfirmedService()">@lexiconHelper.GetTextValue("_accept", 99)</button>
            </div>
        </div>
    </div>
</div>﻿


<script>

    function removeConfirmModal(id) {
        $('#serviceId').val(id);
        $('#deleteNotConfirmModal').modal();
    }

    function removeConfirmedService() {
        var id = $('#serviceId').val();

        $.ajax({
            type: "GET",
            url: "/service/RemoveMyService?service_id=" + id,
            processData: false,
            contentType: false,
            success: function (e) {
                if (e.isSuccess == true) {
                    toastrSuccess(e.message)
                    setTimeout(function () {
                        location.href = "my-services";
                    }, 2000)
                } else {
                    toastrDanger(e.message);
                }
            },
            error: function (jqXHR, exception) {
                var msg = '';
                if (jqXHR.status === 0) {
                    msg = 'Not connect.\n Verify Network.';
                } else if (jqXHR.status == 404) {
                    msg = 'Requested page not found. [404]';
                } else if (jqXHR.status == 500) {
                    msg = 'Internal Server Error [500].';
                } else if (exception === 'parsererror') {
                    msg = 'Requested JSON parse failed.';
                } else if (exception === 'timeout') {
                    msg = 'Time out error.';
                } else if (exception === 'abort') {
                    msg = 'Ajax request aborted.';
                } else {
                    msg = 'Uncaught Error.\n' + jqXHR.responseText;
                }
                toastrDanger(msg);
            }
        });




    }


</script>

