@inject Business.Service.Infrastructure.ILexiconService lexiconHelper;
@inject Business.Service.Infrastructure.IContentService contentHelper;

@model ViewModel.Views.Service.AddOrEditServiceModel

@{
    ViewBag.Title = lexiconHelper.GetTextValue("_service_detail_page_title", 20);
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="content">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-10">
                <div class="section-header text-center">

                    @if (Model.ID <= 0)
                    {
                        <h2>
                            @lexiconHelper.GetTextValue("_add_new_service_page_name", 20)
                        </h2>
                    }
                    else
                    {
                        <h2>
                            @lexiconHelper.GetTextValue("_edit_new_service_page_name", 20)
                        </h2>
                    }
                </div>
                <form id="serviceDetailForm" method="post">
                    <input type="hidden" id="ID" name="ID" value="@Model.ID" />
                    <input type="hidden" id="UserID" name="UserID" value="@Model.UserID" />
                    <input type="hidden" id="Photo" name="Photo" value="@Model.Photo" />
                    <div class="service-fields mb-3">
                        <h3 class="heading-2"> @lexiconHelper.GetTextValue("_service_information", 20)</h3>
                        <div class="row">
                            <div class="col-lg-12">
                                <div class="form-group">
                                    <label> @lexiconHelper.GetTextValue("_service_title", 20)<span class="text-danger">*</span></label>
                                    <input class="form-control" type="text" id="Name" name="Name" value="@Model.Name" />
                                </div>
                            </div>
                            <div class="col-lg-6">
                                <div class="form-group">
                                    <label> @lexiconHelper.GetTextValue("_country", 99) <span class="text-danger">*</span></label>
                                    <select id="CountryID" name="CountryID" class="form-control">

                                        <option value="">@lexiconHelper.GetTextValue("_select", 99) </option>
                                        @foreach (var item in contentHelper.GetCountriesSelectViewModel())
                                        {
                                            if (item.ID == Model.CountryID)
                                            {
                                                <option value="@item.ID" selected>@item.Name</option>
                                            }
                                            else
                                            {
                                                <option value="@item.ID">@item.Name</option>
                                            }
                                        }

                                    </select>
                                </div>
                            </div>
                            <div class="col-lg-6">
                                <div class="form-group">
                                    <label> @lexiconHelper.GetTextValue("_city", 99)<span class="text-danger">*</span></label>
                                    <select id="CityID" name="CityID" class="form-control">
                                        <option value="">@lexiconHelper.GetTextValue("_select", 99) </option>
                                        @if (Model.CountryID > 0)
                                        {
                                            foreach (var item in contentHelper.GetCitiesSelectViewModel(Model.CountryID))
                                            {
                                                if (item.ID == Model.CityID)
                                                {
                                                    <option value="@item.ID" selected>@item.Name</option>
                                                }
                                                else
                                                {
                                                    <option value="@item.ID">@item.Name</option>
                                                }
                                            }
                                        }

                                    </select>
                                </div>
                            </div>
                            <div class="col-lg-6">
                                <div class="form-group">
                                    <label>@lexiconHelper.GetTextValue("_service_category", 99) <span class="text-danger">*</span></label>
                                    <select class="form-control" id="ServiceCategoryID" name="ServiceCategoryID">
                                        <option value="">@lexiconHelper.GetTextValue("_select", 99) </option>
                                        @foreach (var item in contentHelper.GetCategorySelectViewModel())
                                        {

                                            if (item.ID == Model.ServiceCategoryID)
                                            {
                                                <option value="@item.ID" selected>@item.Name</option>
                                            }
                                            else
                                            {
                                                <option value="@item.ID">@item.Name</option>
                                            }

                                        }
                                    </select>
                                </div>
                            </div>
                            <div class="col-lg-6">

                                <div class="form-group">
                                    <label> @lexiconHelper.GetTextValue("_service_start_year", 20)</label>
                                    <input class="form-control" type="number" id="ServiceStartYear" max="@DateTime.Now.Year" min="1980" name="ServiceStartYear" value="@Model.ServiceStartYear" />
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="service-fields mb-3">
                        <h3 class="heading-2">@lexiconHelper.GetTextValue("_detail_informaton", 20)</h3>
                        <div class="row">
                            <div class="col-lg-12">
                                <div class="form-group">
                                    <label>@lexiconHelper.GetTextValue("_description", 99) <span class="text-danger">*</span></label>
                                    <textarea class="form-control service-desc" id="Description" name="Description">@Model.Description</textarea>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="service-fields mb-3">

                        <h3 class="heading-2">@lexiconHelper.GetTextValue("_service_gallery", 20) </h3>
                        <div class="row">
                            <div class="form-group">
                                <label>@lexiconHelper.GetTextValue("_main_picture", 20) <span class="text-danger">*</span></label>
                                <input type="file" id="MainPhoto" class="form-control" name="MainPhoto">
                            </div>
                           
                        </div>
                        <div class="row">
                            <div class="col-lg-12">
                                <label>@lexiconHelper.GetTextValue("_upload_images", 99)</label>
                                <div class="service-upload">
                                    <i class="fas fa-cloud-upload-alt"></i> <span>>@lexiconHelper.GetTextValue("_upload_service_images", 20)  *</span>
                                    <input type="file" multiple="" id="ServicePhotos" name="ServicePhotos">
                                </div>
                                <div>
                                    @*<ul class="upload-wrap">
                <li>
                    <div class="upload-images">
                        <img alt="Service Image" src="assets/img/services/service-08.jpg">
                    </div>
                </li>
            </ul>*@
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="submit-section">
                        <button class="btn btn-primary submit-btn" type="submit">Submit</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>



@section Scripts{

    <script>


        $(document).ready(function () {
            $('#CountryID').on('change', function () {
                var id = $(this).val();
                if (id > 0) {
                    loadCities(id);
                }
            });
        });


        function loadCities(id) {

            $.ajax({
                type: "POST",
                url: "/content/GetCitiesSelectViewModel?country_id="+id,
                processData: false,
                contentType: false,
                success: function (e) {
                    $.each(e, function (index, value) {
                        var opt = "<option value='" + value.id + "'>" + value.name + "</option>";
                        $('#CityID').append(opt);
                    });

                }
            });
        }



        $("#serviceDetailForm").validate({
                rules: {
                    ServiceCategoryID: {
                        required: true
                    },
                    Name: {
                            required: true
                        },
                    CountryID: {
                        required: true
                    },
                    CityID: {
                        required: true
                    },
                    Description: {
                        required: true
                }
                //,
                //    MainPhoto: {
                //        required: true
                //    }
                },
               messages: {
                   ServiceCategoryID: "@lexiconHelper.GetTextValue("_service_category_is_required",99)",
                   Name: "@lexiconHelper.GetTextValue("_service_name_is_required",99)",
                   CountryID: "@lexiconHelper.GetTextValue("_country_is_required",99)",
                   CityID: "@lexiconHelper.GetTextValue("_city_is_required",99)",
                   Description: "@lexiconHelper.GetTextValue("_description_is_required",99)"
                },
               submitHandler: function () {

                   preLoadOpen();

                   var form = $('#serviceDetailForm')[0];
                   var data = new FormData(form);

                       $.ajax({
                           type: "POST",
                           url: "/service/addoreditservice",
                           enctype: 'multipart/form-data',
                           data: data,
                           processData: false,
                           contentType: false,
                           success: function (e) {

                               preLoadClose();
                                if (e.isSuccess == true) {
                                    toastrSuccess(e.message);
                                    setTimeout(function () {
                                        location.href = "/my-services";
                                    },2000)

                                } else {
                                    toastrDanger(e.message);
                                }
                            },
                           error: function (jqXHR, exception) {
                               preLoadClose();
                                var msg = '';
                                if (jqXHR.status === 0) {
                                    msg = 'Not connect.\n Verify Network.';
                                } else if (jqXHR.status == 404) {
                                    msg = 'Requested page not found. [404]';
                                } else if (jqXHR.status == 500) {
                                    msg = 'Internal Server Error [500].';
                                } else if (exception === 'parsererror') {
                                    msg = 'Requested JSON parse failed.';
                                } else if (exception === 'timeout') {
                                    msg = 'Time out error.';
                                } else if (exception === 'abort') {
                                    msg = 'Ajax request aborted.';
                                } else {
                                    msg = 'Uncaught Error.\n' + jqXHR.responseText;
                                }
                                toastrDanger(msg);
                            }
                        });
            }

            });





    </script>


}



















