@inject Business.Service.Infrastructure.ILexiconService lexiconHelper;
@{
    ViewBag.Title = lexiconHelper.GetTextValue("_forgot_password_page_title", 18);
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="content">
    <div class="container">
        <div class="row">
            <div class="col-md-6 offset-md-3">
                <div class="login-header">
                    <h3><span>@lexiconHelper.GetTextValue("_forgot_password_title", 18)</span></h3>
                </div>
                <form id="forgotMailForm">
                    <div class="form-group form-focus">
                        <label class="focus-label">@lexiconHelper.GetTextValue("_email", 2)</label>
                        <input type="email" class="form-control" id="Email" name="Email" />
                    </div>
                    <div class="text-right">
                    </div>
                    <button class="btn btn-primary btn-block btn-lg login-btn" type="submit">@lexiconHelper.GetTextValue("_send_change_password_mail", 18)</button>
                </form>

            </div>
        </div>
    </div>
</div>

@section Scripts{

    <script>
           $(document).ready(function () {
               $("#forgotMailForm").validate({
                rules: {
                       Email: {
                        required: true
                    }
                },
               messages: {
                   OtpCode: "@lexiconHelper.GetTextValue("_email_required",99)"
                },
                   submitHandler: function () {
                       var obj = new Object();
                       obj.Email = $('#Email').val();
                $.ajax({
                    type: "POST",
                    url: "/security/sendchangepasswordmail",
                    data: obj,
                    content:"application/json",
					timeout: 600000,
                    success: function (e) {
                          if (e.isSuccess == true) {
                              toastrSuccess("@lexiconHelper.GetTextValue("_sended_change_password_successfuly_text",99)");
                          } else {
                              toastrDanger(e.message);
                        }
                    },
                    error: function (jqXHR, exception) {
                        var msg = '';
                        if (jqXHR.status === 0) {
                            msg = 'Not connect.\n Verify Network.';
                        } else if (jqXHR.status == 404) {
                            msg = 'Requested page not found. [404]';
                        } else if (jqXHR.status == 500) {
                            msg = 'Internal Server Error [500].';
                        } else if (exception === 'parsererror') {
                            msg = 'Requested JSON parse failed.';
                        } else if (exception === 'timeout') {
                            msg = 'Time out error.';
                        } else if (exception === 'abort') {
                            msg = 'Ajax request aborted.';
                        } else {
                            msg = 'Uncaught Error.\n' + jqXHR.responseText;
                        }
                        toastrDanger(msg);
                    }
                });
            }

            });
        });
    </script>
}







